packaging_format = 2

id = "scrutiny"
name = "Scrutiny"
description.en = "WebUI for smartd S.M.A.R.T monitoring"

version = "0.8.2~ynh1"

maintainers = ["ewilly"]

[upstream]
license = "MIT"
admindoc = "https://github.com/AnalogJ/scrutiny/tree/master/docs"
code = "https://github.com/AnalogJ/scrutiny"
fund = "https://paypal.me/analogj/usd10"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = ["amd64", "arm64"]
multi_instance = false
ldap = "not_relevant"
sso = "not_relevant"
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/scrutiny"
    
    [install.collector]
    ask.en = "Should the collector be activated on this host?"
    help.en = "Let it to true if yunohost is running on bare metal (i.e. not in a VM or in a LXC)"
    type = "boolean"
    default = true

[resources]
    [resources.sources]

        [resources.sources.main]
        in_subdir = false
        rename = "scrutiny-web-linux"
        amd64.url = "https://github.com/AnalogJ/scrutiny/releases/download/v0.8.2/scrutiny-web-linux-amd64"
        amd64.sha256 = "643c02cb54c59a3a17338a5241dfef104cf3311c2227bfb89c5f7e79b1814bb4"
        arm64.url = "https://github.com/AnalogJ/scrutiny/releases/download/v0.8.2/scrutiny-web-linux-arm64"
        arm64.sha256 = "934181730f7eace94dcb2d487dce78e96ae1114f15b436dcf54de376240b12ab"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = "^scrutiny-web-linux-amd64$"
        autoupdate.asset.arm64 = "^scrutiny-web-linux-arm64$"

        [resources.sources.scrutiny-collector-metrics-linux]
        in_subdir = false
        rename = "scrutiny-collector-metrics-linux"
        amd64.url = "https://github.com/AnalogJ/scrutiny/releases/download/v0.8.2/scrutiny-collector-metrics-linux-amd64"
        amd64.sha256 = "8b69141219c4ab54baf09c6ae177189255a69999078fc1173b7aa86b909cfcad"
        arm64.url = "https://github.com/AnalogJ/scrutiny/releases/download/v0.8.2/scrutiny-collector-metrics-linux-arm64"
        arm64.sha256 = "e623f8b41de9b36cccac1955abd3557d9b90c1e768f36ae5e208246e4a91c6b7"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = "^scrutiny-collector-metrics-linux-amd64$"
        autoupdate.asset.arm64 = "^scrutiny-collector-metrics-linux-arm64$"

        [resources.sources.scrutiny-web-frontend]
        in_subdir = true
        url = "https://github.com/AnalogJ/scrutiny/releases/download/v0.8.2/scrutiny-web-frontend.tar.gz"
        sha256 = "6126dcee30464e420128fade96ad1a2d87336066383defedb9015443609488e2"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset = "^scrutiny-web-frontend.tar.gz$"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
    main.auth_header = false
    main.show_tile = true
    main.protected= true
    main.allowed = "admins"
    api.url = "/api"
    api.auth_header = false
    api.show_tile = false
    api.protected= true
    api.allowed = ["visitors", "all_users"]

    [resources.ports]
    main.default = 8080

    [resources.apt]
    packages = "smartmontools"
