packaging_format = 2

id = "scrutiny"
name = "Scrutiny"
description.en = "WebUI for smartd S.M.A.R.T monitoring"

version = "0.8.6~ynh1"

maintainers = ["ewilly"]

[upstream]
license = "MIT"
admindoc = "https://github.com/AnalogJ/scrutiny/tree/master/docs"
code = "https://github.com/AnalogJ/scrutiny"
fund = "https://paypal.me/analogj/usd10"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = ["amd64", "arm64"]
multi_instance = false
ldap = "not_relevant"
sso = "not_relevant"
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/scrutiny"
    
    [install.collector]
    ask.en = "Should the collector be activated on this host?"
    help.en = "Let it to true if yunohost is running on bare metal (i.e. not in a VM or in a LXC)"
    type = "boolean"
    default = true

[resources]
    [resources.sources]

        [resources.sources.main]
        in_subdir = false
        rename = "scrutiny-web-linux"
        amd64.url = "https://github.com/AnalogJ/scrutiny/releases/download/v0.8.6/scrutiny-web-linux-amd64"
        amd64.sha256 = "d165cbbcb45cb8f1853782d59fd71234111c40f1e68b61170d1fc55f9bad0917"
        arm64.url = "https://github.com/AnalogJ/scrutiny/releases/download/v0.8.6/scrutiny-web-linux-arm64"
        arm64.sha256 = "dad8fa9dd8e24cfee5660865e4f1137c935079c05e9f04009a1233f6a84de030"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = "^scrutiny-web-linux-amd64$"
        autoupdate.asset.arm64 = "^scrutiny-web-linux-arm64$"

        [resources.sources.scrutiny-collector-metrics-linux]
        in_subdir = false
        rename = "scrutiny-collector-metrics-linux"
        amd64.url = "https://github.com/AnalogJ/scrutiny/releases/download/v0.8.6/scrutiny-collector-metrics-linux-amd64"
        amd64.sha256 = "4c163645ce24e5487f4684a25ec73485d77a82a57f084808ff5aad0c11499ad2"
        arm64.url = "https://github.com/AnalogJ/scrutiny/releases/download/v0.8.6/scrutiny-collector-metrics-linux-arm64"
        arm64.sha256 = "b1af4117f1c0f6047003208867fda510824a7d8adabcfdebd16046ec52383124"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = "^scrutiny-collector-metrics-linux-amd64$"
        autoupdate.asset.arm64 = "^scrutiny-collector-metrics-linux-arm64$"

        [resources.sources.scrutiny-web-frontend]
        in_subdir = true
        url = "https://github.com/AnalogJ/scrutiny/releases/download/v0.8.6/scrutiny-web-frontend.tar.gz"
        sha256 = "7068bf793561c6894b492188dcab257d64bd1dd0e174bd5bd8ba49432cb07af6"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset = "^scrutiny-web-frontend.tar.gz$"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
    main.auth_header = false
    main.show_tile = true
    main.protected= true
    main.allowed = "admins"
    api.url = "/api"
    api.auth_header = false
    api.show_tile = false
    api.protected= true
    api.allowed = ["visitors", "all_users"]

    [resources.ports]
    main.default = 8080

    [resources.apt]
    packages = "smartmontools"
