test_format = 1.0

[default]

	# ------------
	# Tests to run
	# ------------
	preinstall = """
	sudo yunohost tools update apps
	sudo yunohost app install https://github.com/YunoHost-Apps/influxdb_v2_ynh/ --force
	"""


	# -------------------------------
	# Default args to use for install
	# -------------------------------



	# -------------------------------
	# Commits to test upgrade from
	# -------------------------------
	test_upgrade_from.db95159bf8aa164acacd1b04143ac6ef53771a3a.name = "Upgrade from 0.8.1~ynh2"
    
